/* GLOBAL STYLES */
* {
    background-color: #D5E6EC;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

/* HEADING */
.heading {
    font-family:'Pacifico', serif;
    font-size:32px;
    text-align:center;
    color:#94877b;
}

/* MAIN CONTENT */
.main-content {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}

/* CONTROLS */
#controls {
    text-align:center;
    font-family:'Bricolage Grotesque', serif;
    color:#7F6550;
}

/* GRID WORK */

#grid-container {
    display: grid;
    grid-gap:auto;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width: 640px; 
    height: 640px;
    background-color:aliceblue;
    border:8px solid #b3c29c;
    border-radius:1%;
}

.grid {
    width: 40px;
    height: 40px;
    border-color:black;
    background-color:aliceblue;
    font-size:0 px;
    padding:auto;
}

/* UTILITY PANEL */
.utility-panel {
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:48px;
}

.bg-card {
    height: 95px;
    width: 95px;
    background-color:white;
    border-radius: 20%;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* COLOR OPTIONS */
#lavender {
    height: 65px;
    width: 65px;
    background-color: #c7b0f5;
    border-radius: 50%;
    padding:auto;
}

#sunflower {
    height: 65px;
    width: 65px;
    background-color: #F2DF8C;
    border-radius: 50%;
    padding:auto;
}

#crimson {
    height: 65px;
    width: 65px;
    background-color: #F56C7B;
    border-radius: 50%;
    padding:auto;
}

#calm-blu {
    height: 65px;
    width: 65px;
    background-color: #A0C3E4;
    border-radius: 50%;
    padding:auto;
}