/* GRID WORK */

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    max-width: 640px; /* 16 squares * 20px each = 320px */
    min-height: 640px; /* 16 squares * 20px each = 320px */
    background-color: #f1f1f1;
}

.grid {
    width: 40.34 px;
    height: 40px;
    border-color:black;
    background-color: blue;
    font-size:0 px;
}


